<div class="{{title}} desktop-icon">
      <div class="{{title}}__icon desktop-icon__icon"></div>
      <a class="{{title}}__text desktop-icon__text" href="{{html_file}}">
         {{title}}
      </a>
</div>